.navbar {
    margin: 20px;
    padding: 20px;
}

.navbar-brand {
    font-family: "KeepCalm-Medium";
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

@font-face {
    font-family: "KeepCalm-Medium";
    src: url("KeepCalm-Medium.woff");
}

.image {
    text-align: center;
}

.dropzone {
    width: 50px;
    height: 50px;
    border: 2px dashed white;
    border-radius: 50%;
    position: absolute;
    margin: 300px auto; 
    margin-left: 50%;
    padding: 40px;
}

.dz-button {
    height: 20px;
    width: 20px;
    margin-right: 30px;
}
