html, body {
    height: 100%;
    max-width: auto;
}

.hungoLogo {
    position: absolute;
    font-family: "KeepCalm-Medium";
    text-decoration: none;
    z-index: 1;
    color: white;
    padding-left: 150px;
    padding-top: 50px;
    font-size: 44px;
    
}

.cursor {
    cursor: url(pizzaCursor.png), default !important;
    position: absolute;
}

@font-face {
    font-family: "KeepCalm-Medium";
    src: url("KeepCalm-Medium.woff");
}

.scrollArrow {
    position: absolute;
    z-index: 1;
    top: 95%;
    left: 50%;
}

#arrowImage {
    height: 10px;
}

#foodVideo {
    width: 100%;
    right: 0;
    bottom: 0;
    background-attachment: fixed;
    z-index: -1;
    background-size: cover;
    filter:brightness(60%);
}

.explanationParagraph p {
    z-index: 1;
    position: absolute;
    top: 45%;
    left: 35%;
    font-family: "KeepCalm-Medium";
    font-size: 64px;
    color: white;
    line-height: normal;
}

.dropImageZone {
    border: 2px solid #EAEAEA;
    background: #EAEAEA;
    border-radius: 90px;
    padding: 100px;
    width: 650px;
    height: 450px;
    text-align: center; 
    box-shadow: -5px 10px 11px rgba(0, 0, 0, 0.25);
}

.secondSection {
    height: 1000px;
    margin-top: -10px;
    padding-top: 280px;
    padding-bottom: 280px;
    background:#E77A7A;
}

.identifyButton a {
    text-decoration: none;
    border: 2px solid #E77A7A;
    border-radius: 90px;
    padding: 20px;
    margin-top: 50px;
    width: 200px;
    background: #E77A7A;
    color: white;
}

.spacer {
    margin: 80px;
}