<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>hungo</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Logo -->
  <div class="hungoLogo">
    <h1>hungo</h1>
  </div>
  
  <div class="cursor"></div> 
  
  <!-- Background video -->
  <div class="foodVideo">
    <video autoplay muted loop id="foodVideo">
      <source src="../static/video.mp4" type="video/mp4">
    </video>

    <!-- Explanation paragraph -->
    <div class="explanationParagraph">
      <p>Find new restaurants <br> from food images.</p>
    </div>
  </div>

  <!-- Scroll arrow -->
  <a href="#down">
    <div class="scrollArrow" id="down">
      <img src="../static/scroll.svg" alt="scrolImg" id="arrowImage">
    </div>
  </a>

  <!-- Drag and drop zone -->
  <div class="secondSection">
    <p class="steps">
      1. Choose a file <br> 2. Hit submit <br> 3. Hit identify <br> Voila!
    </p>  
    <div class="dropImageZone container">
      <img src="/static/drop-file.svg" class="dropFileImg">
      <form method=POST enctype=multipart/form-data action ="{{url_for('upload')}}">
        <div class="form-group">
          <input type=file name=photo>
          <input type="submit">
        </div>
      </form>
      <div class="spacer"></div>
      <div class="identifyButton">
        <a href="/identify">Identify</a>
      </div>
    </div>
  </div>
</body>
</html>